.element {
    --bg: white;
    --fg: #1e1e1e;

    --sidebar-bg: #f4f6fa;
    --sidebar-fg: #1e1e1e;
    --sidebar-non-existant: #aaaaaa;
    --sidebar-active: #0dbd8b;
    --sidebar-spacer: #f4f4f4;

    --scrollbar: #B6B6B5;

    --icons: #747474;
    --icons-hover: #0dbd8b;

    --links: #0dbd8b;

    --inline-code-color: #301900;

    --theme-popup-bg: #white;
    --theme-popup-border: #cccccc;
    --theme-hover: #0dbd8b;

    --quote-bg: hsl(197, 37%, 96%);
    --quote-border: hsl(197, 37%, 91%);

    --table-border-color: hsl(0, 0%, 95%);
    --table-header-bg: hsl(0, 0%, 80%);
    --table-alternate-bg: hsl(0, 0%, 97%);

    --searchbar-border-color: rgba(141,151,165,0);;
    --searchbar-bg: rgba(141,151,165,0.2);;
    --searchbar-fg: #1e1e1e;
    --searchbar-shadow-color: rgba(141,151,165,0.1);
    --searchresults-header-fg: #737D8C;
    --searchresults-border-color: #8D97A5;
    --searchresults-li-bg: #e4f2fe;
    --search-mark-bg: #a2cff5;

    --font: InterHosted, sans-serif;
}
